In [7]:
i=1
while i<6:
    print(i," hello universe", sep=".")
    i=i+1

1. hello universe
2. hello universe
3. hello universe
4. hello universe
5. hello universe

In [2]:
i=1
while i<6:
    if i==3:
        i=i+1
        continue
    print(i," hello universe", sep=".")
    i=i+1

1. hello universe
2. hello universe
4. hello universe
5. hello universe

In [3]:
a=1
while a<6:
    if a==3:
        print("3 is not printed")
        a=a+1
        continue
    print(a, "hello world")
    a=a+1

1 hello world
2 hello world
3 is not printed
4 hello world
5 hello world

In [5]:
a=1
while a<=10:
    print("2 *",a,"=",2*a)
    a=a+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
a=1
while a<=10:
    print("3 *",a,"=",3*a)
    a=a+1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [3]:
a=int(input("Table of :"))
i=1
while i<=10:
    print(a,"*",i,"=",a*i)
    i=i+1

12689 * 1 = 12689
12689 * 2 = 25378
12689 * 3 = 38067
12689 * 4 = 50756
12689 * 5 = 63445
12689 * 6 = 76134
12689 * 7 = 88823
12689 * 8 = 101512
12689 * 9 = 114201
12689 * 10 = 126890

In [1]:
a=range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
a=range(0,10,1)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
a=range(2,10,1)
for i in a:
    print(i)

2
3
4
5
6
7
8
9

In [9]:
a=range(10,0,-1)
for i in a:
    print(i)

10
9
8
7
6
5
4
3
2
1

In [1]:
a=["prince","rishi","tinku","krishna","radha","shiv"]
for i in range(1,7):
    print(i,"hello",a[i-1])

1 hello prince
2 hello rishi
3 hello tinku
4 hello krishna
5 hello radha
6 hello shiv

In [2]:
#print only first letter of name

i=1
print(i,"hello",a[i-1])

1 hello prince

In [3]:
a[i-1]

'prince'

In [4]:
b=a[i-1]
print(b[0])

p

In [5]:
a=["prince","rishi","tinku","krishna","radha","shiv"]
for i in range(1,7):
    print(i,"hello",a[i-1][0])

1 hello p
2 hello r
3 hello t
4 hello k
5 hello r
6 hello s

In [8]:
a=["prince","rishi","tinku","krishna","radha","shiv"]
for i in range(1,7):
    print(i,"hello",a[i-1][0:2])

1 hello pr
2 hello ri
3 hello ti
4 hello kr
5 hello ra
6 hello sh

In [9]:
a=["prince","rishi","tinku","krishna","radha","shiv"]
for i in range(1,7):
    print(i,"hello",a[i-1][0],a[i-1][-1])

1 hello p e
2 hello r i
3 hello t u
4 hello k a
5 hello r a
6 hello s v

In [13]:
a=["prince","rishi","tinku","krishna","radha","shiv"]
for i in range(1,7):
    print(i,"hello",a[i-1][0]+a[i-1][-1])

1 hello pe
2 hello ri
3 hello tu
4 hello ka
5 hello ra
6 hello sv

In [15]:
a=["prince","rishi","tinku","krishna","radha","shiv"]
for i in range(1,7):
    print(i,a[i-1][0]+a[i-1][-1],"hello"[-1::-1])

1 pe olleh
2 ri olleh
3 tu olleh
4 ka olleh
5 ra olleh
6 sv olleh